@model IEnumerable<EVotingSystem.Models.Candidate>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h1>Candidates</h1>

<p>
    <a class="btn btn-outline-primary btn-sm btn-new" asp-action="Create" >Create New</a>
</p>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive table-responsive-data2">
            <table class="table table-data2">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Vote.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ListNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Position)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Picture)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CurrentVoted)
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="tr-shadow">
                            <td>
                                @Html.DisplayFor(modelItem => item.Vote.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ListNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Position)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Picture)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CurrentVoted)
                            </td>
                            <td>
                                <div class="table-data-feature">

                                    <a class="item" asp-action="Edit" asp-route-id="@item.Id"><i class="zmdi zmdi-edit"></i></a>
                                    <a class="item" asp-action="Details" asp-route-id="@item.Id"><i class="zmdi zmdi-info"></i></a>
                                    <a class="item" asp-action="Delete" asp-route-id="@item.Id"><i class="zmdi zmdi-delete"></i></a>
                                </div>

                            </td>
                        </tr>
                        <tr class="spacer"></tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>