@model EVotingSystem.Models.VoterVotes

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Voter and Votes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsVoted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsVoted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SignedInTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SignedInTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoggedOutTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoggedOutTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Voter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Voter.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vote.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
