@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<!--<h1>@ViewData["Title"]</h1>-->
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form" method="post">

                <span class="login100-form-title p-b-26">
                    Login
                </span>
                <span class="login100-form-title p-b-48">
                    <i class="zmdi zmdi-font"></i>
                </span>

                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="wrap-input100 validate-input" data-validate="Valid email is: a@b.c">
                    <input asp-for="Input.Email" class="input100" type="text" id="username">
                    <span class="focus-input100" data-placeholder="Email"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Enter password">
                    <span class="btn-show-pass">
                        <i class="zmdi zmdi-eye"></i>
                    </span>
                    <input asp-for="Input.Password" class="input100" type="password" id="password">
                    <span class="focus-input100" data-placeholder="Password"></span>
                </div>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn" type="submit">
                            Login
                        </button>
                    </div>
                </div>

                <div class="container-login100-form-btn">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>

                <div class="text-center p-t-115">
                    <span class="txt1">
                        Don’t have an account?
                    </span>

                    <a class="txt2" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">
                        Sign Up
                    </a>
                </div>

                <div class="text-center p-t-115">                    
                    <a class="txt2" id="forgot-password" asp-page="./ForgotPassword">
                        Forget Password
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>

<!--<div class="container">
    <section id="content" class="col-md-6">
        <form action="" method="post">
            <h1>Login Form</h1>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Input.Email" placeholder="Username" id="username" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Input.Password" placeholder="Password" id="password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="Input.RememberMe">
                        <input asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
            </div>

            <div>
                <input type="submit" value="Log in" />
                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register</a>
            </div>
        </form><

    </section>
</div>-->
<!--<div class="row">
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to log in.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>
    -->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
